<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>HELLO!</p>
   <!--  <ul>
      <% Example.all.each do |example| %>
        <li><%= example.results_string %></li>
      <% end %>
    </ul> -->
    <p><%= example.results_string %></p>

  </body>
</html>