<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>HELLO!</p>
    <ul>
      <% @results.each do |result| %>
        <li>   
          <p>In file: <a href="file://<%= result.file_path %>"><%= result.file_path %></a></p>
          <p>Starting at line number <code><%= result.line_number %>... 

            <% result.full_code.each do |line| %>
             
                <pre><%= line %></pre>
            
            <% end %>


          </code></p>
          
        </li>
      <% end %>
    </ul> 
    

  </body>
</html>