<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>HELLO!</p>
    <ul>
      <% @results.each do |line_array| %>
        <li>   
          <p>In file: <a href="file://<%= line_array[0] %>"><%= line_array[0] %></a></p>
          <p><code><%= line_array[1] %> : <%= line_array[2] %></code></p>
          
        </li>
      <% end %>
    </ul> 
    

  </body>
</html>