<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>HELLO!</p>
    <ul>
      <% @results.each do |line_array| %>
        <li>   
          <p>In file: <%= line_array[0] =></p>
          <p><%= line_array[1] => : <%= line_array[2] =></p>
          
        </li>
      <% end %>
    </ul> 
    <p><%= example.results_string %></p>

  </body>
</html>