<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>HELLO!</p>
    <ul>
      <% @results.each do |result| %>
        <li>   
          <p>In file: <a href="file://<%= result.file_path %>"><%= result.file_path %></a></p>
          <p><code><%= result.line_number %> : <%= result.code_snippet %></code></p>
          
        </li>
      <% end %>
    </ul> 
    

  </body>
</html>